<h1><u>Bird Records</u></h1>
<!-- adding a new bird form!-->
<div class="addNewSighting">
    <h3>Add new bird</h3>

    <form action="/" method="POST">
        Name: <input name="name" type="text" required>
        <br>
        Description: <input name="description" type="text">
        <br>
        Average Eggs Laid: <input name="averageEggsLaid" type="number" min="1" max="50">
        <br>
        Threatened? <input name="threatened" type="checkbox">
        <br>
        Nest location: <input name="nestLocation" type="text">
        <br>
        Nest materials: <input name="nestMaterials" type="text">
        <br>
        Date seen: <input name="dateSeen" type="date">
        <br>
        <input name="addBird" type="submit" value="Add new sighting">
        <br>
    </form>
</div>



<hr>
<!-- birds is an array and dates seen is an array!-->
<div class="birdsSeen">

    <h3>All sightings</h3>

    {{# each birds}}
        <p>Name: {{this.name}}</p>
        <p>Description: {{this.description}}</p>
        <p>Average eggs laid: {{this.averageEggsLaid}}</p>
        <p>Nest Locations:{{this.nest.location}}</p>
        <p>Nest materials:{{this.nest.materials}}</p>
        {{#if this.threatened}}
            <p>This bird is threatened</p>
        {{/if}}

        <p>Dates seen:</p>
        <ul>
            {{#each this.datesSeen}}
                <li>{{dateFormatter this}}</li>
                <li>{{this}}</li>
            {{else}}
                <li>No sightings reported</li>
            {{/each}}
        </ul>
        <P>Add new date seen</P>
        <!-- error message display-->
        <div class="messages">
            {{#each messages.error}}
                <p class="error_msg">{{this}}</p>
            {{/each}}
        </div>
        <!-- adding new date for a bird form!-->
        <form action="/addDate" method="POST">
            <input name="dateSeen" type="date">
            <input name="_id" type="hidden" value="{{this._id}}">
            <input name="name" type="hidden" value="{{this.name}}">
            <input name="add" type="submit" value="Add new date">
        </form>
        <!-- deleteing a bird form!-->
        <form action="/deleteBird" method="post">
            <input name="_id" type="hidden" value="{{this._id}}">
            <input name="name" type="hidden" value="{{this.name}}">
            <input name="delete" type="submit" value="delete">
        </form>
        <!-- update a bird form;!-->
        <form action="/updateBird" method="post">
            <input name="_id" type="hidden" value="{{this._id}}">
            <input name="name" type="hidden" value="{{this.name}}">
            <input name="delete" type="submit" value="update">
        </form>
        <hr>
    {{else}}
        <p>No bird records in the database</p>
    {{/each}}
</div>


