<h1><u>Update {{bird.name}}</u></h1>

<div class="UpdatingBird">
    <!-- updates description, eggslaid, nextlocation/materials;!-->
    <!-- name is readonly as it is unique;don't want user to change it; add a new one if need be!-->
    <h3>Update info for {{bird.name}} and click the Update Button</h3>

    <form action="/UpdateAndSave" method="POST">
        <input name="id" value="{{bird._id}}" hidden>
        Name: <input name="name" type="text" value="{{bird.name}}" readonly>
        <br>
        Description: <input name="description" type="text" value="{{bird.description}}">
        <br>
        Average Eggs Laid: <input name="averageEggsLaid" type="number" min="1" max="50" value="{{bird.averageEggsLaid}}">
        <br>
        Nest location: <input name="nestLocation" type="text" value="{{bird.nest.location}}">
        <br>
        Nest materials: <input name="nestMaterials" type="text" value="{{bird.nest.materials}}">
        <br>
        <input name="Update" type="submit" value="Update">
        <br>
    </form>
</div>